// Estilos generales para el formulario
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 400px; // Ancho máximo para mantener el formulario legible en dispositivos más grandes
    margin: 0 auto; // Centrar el formulario en la página
  }
  
  // Estilos para el título
  h1 {
    text-align: center; // Centrar el título
    margin-bottom: 20px; // Espacio entre el título y el primer campo de formulario
  }
  
  // Estilos para los campos de formulario
  mat-form-field {
    width: 100%;
    margin-bottom: 20px; // Espacio entre los campos de formulario
  }
  .form-group {
    margin-bottom: 20px;
  }
  // Estilos para los botones
  button {
    margin-top: 20px; // Espacio entre el último campo de formulario y los botones
  }
  
  // Estilos para hacer el formulario responsive
  @media (max-width: 600px) {
    form {
      padding: 10px;
    }
  }
  