<h1 mat-dialog-title>Agregar nuevo cliente</h1>

<form [formGroup]="createClientForm" (ngSubmit)="addClient()">

  <mat-form-field appearance="outline">
    <mat-label>Nombre:</mat-label>
    <input formControlName="firstname" matInput required placeholder="Nombre">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Apellido:</mat-label>
    <input formControlName="lastname" matInput required placeholder="Apellido">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>email:</mat-label>
    <input formControlName="email" matInput required placeholder="email">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Dirección:</mat-label>
    <input formControlName="address" matInput required placeholder="Dirección">
  </mat-form-field>

  <div class="form-group">
    <label for="photo"> </label>
    <input type="file" class="form-control" id="photo" formControlName="photo">
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Caption</mat-label>
    <input formControlName="caption" matInput required placeholder="Caption">
  </mat-form-field>

  <button mat-raised-button color="secundary" type="submit" class="btn btn-primary">Crear cliente</button>
  <button mat-raised-button color="primary" mat-dialog-close>Cancelar</button>
</form>