// Estilos generales para el formulario
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px; // Ancho del formulario
  margin: 0 auto; // Centrar el formulario en la página
  padding: 20px; // Padding para espaciado interno
}

// Estilos para el título
h1 {
  text-align: center; // Alinear el título al centro
  margin-bottom: 20px; // Espacio entre el título y el primer campo de formulario
}

// Estilos para los campos de formulario
mat-form-field {
  width: 100%;
  margin-bottom: 20px; // Espacio entre los campos de formulario
}

// Estilos para los botones
button {
  margin-top: 20px; // Espacio entre el último campo de formulario y los botones
}

// Estilos para hacer el formulario responsive
@media (max-width: 768px) {
  form {
    width: 90%; // Reducir el ancho del formulario en dispositivos más pequeños
  }
}
