
<div>
    <ul>
        <li>id: {{ client.id}}</li>
        <li>firstname: {{ client.firstname}}</li>
        <li>lastname: {{ client.lastname}}</li>
        <li>email: {{ client.email}}</li>
        <li>address: {{ client.address}}</li>
        <li>photo: {{ client.photo}}</li>
        <li>caption: {{ client.caption}}</li>
        <li>created_at: {{ client.created_at}}</li>
        <li>updated_at: {{ client.updated_at}}</li>
        <li>deleted: {{ client.deleted}}</li>
    </ul>

</div>

<button>Editar</button>
<button>Eliminar</button>